section
  =amp_image_tag("sample.jpg", width: "1600", height: "1066", layout: "responsive", alt: "Smaple", class: "mb3")

p = format_date_by_dot(@post.updated_at)
h2.mb4 = @post.title
p.mb4 = @post.content.html_safe

= link_to :index, posts_path
